header.header
  #particles 
  ul.header-social-links
    li.header-social-links__item
      a(href="#!")
        img(src="./img/icons/github.png", alt="github")
    li.header-social-links__item
      a(href="#!")
        img(src="./img/icons/linkedin.png", alt="linkedin")
    li.header-social-links__item
      a(href="#!")
        img(src="./img/icons/instagram.png", alt="instagram")
  .header-content
      h1.header__title
        span.red-name Evgeny 
        | Uglanov 
      h2.header__subtitle
        | I'm 
        b
          span F
          | ro
          span nt
          | end
        | -developer
  ul.header-contact
    li.header-contact__item
      a(href="#!")
        img(src="./img/icons/telegram.png", alt="telegram")
    li.header-contact__item
      a(href="#!")
        img(src="./img/icons/phone.png", alt="phone")
  .header-img
    img(src="../img/background/person.jpg", alt="person")