header.header
  #particles 
  ul.header-social-links
    li.header-social-links__item
      a(href="https://github.com/UglanovEA", target="_blank")
        img(src="./img/icons/github.png", alt="github")
    li.header-social-links__item
      a(href="https://www.linkedin.com/in/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D1%83%D0%B3%D0%BB%D0%B0%D0%BD%D0%BE%D0%B2-a6623b1a4/", target="_blank")
        img(src="./img/icons/linkedin.png", alt="linkedin")
    li.header-social-links__item
      a(href="#!")
        img(src="./img/icons/instagram.png", alt="instagram")
  .header-content
      h1.header__title
        span.red-name Evgeny 
        | Uglanov 
      h2.header__subtitle
        | I'm 
        b
          span F
          | ro
          span nt
          | end
        | -developer
  ul.header-contact
    li.header-contact__item
      a(href="https://t.me/UglanovEA")
        img(src="./img/icons/telegram.png", alt="telegram")
    li.header-contact__item
      a(href="tel:+79086784237" )
        img(src="./img/icons/phone.png", alt="phone")
  .header-img
    img(src="../img/background/person.jpg", alt="person")