.nav
    .nav__logo
      a(href="#!") eu
    .nav__burger
      span.first
      span.second
      span.third
.nav-hidden
    .nav-hidden-menu
      .nav-hidden-menu__logo
        a(href="#!") eu
      .nav-hidden-menu__close
        span.close-first
        span.close-second
    ul.nav-hidden-links
        li.nav-hidden-links__item
          a(href="#!" data-hover="home" id="home-link") home
        li.nav-hidden-links__item
          a(href="#!" data-hover="about" id="about-link") about
        li.nav-hidden-links__item
          a(href="#!" data-hover="portfolio" id="portfolio-link") portfolio
        li.nav-hidden-links__item
          a(href="#!" data-hover="contact" id="contact-link") contact