.nav
    .nav__logo
      img(src="./img/icons/logo.png", alt="logo")
    .nav__burger
      span.first-span
      span.second-span
      span.third-span
.nav-menu
    .nav-menu-header
      .nav-menu__logo
        img(src="./img/icons/logo.png", alt="logo")
      .nav-menu__close
        span.close-first-span
        span.close-second-span
    .nav-menu-links
      ul.nav-menu-links-list
        li.nav-menu-links-list__item
          a(href="#!") home
        li.nav-menu-links-list__item
          a(href="#!") about
        li.nav-menu-links-list__item
          a(href="#!") portfolio
        li.nav-menu-links-list__item
          a(href="#!") contact