<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.css")
    title PORTFOLIO
  body
    block cursor
      include common/cursor.pug
    block header
      include common/header.pug



    script(src="./js/script.js")